body
{
    margin:0;
    font-family:fantasy;
}

#wrapper
{
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

header
{
  height: 150px;
  width:100%;
  background-color:#FFB0D0;
  font-size: 60px;
}

nav
{
  height:50px;
  width:100%;
  background-color:#A77DFF;
}

main
{
  height: 450px;
  width:100%;
  background-color:#FFB0D0;
}

#container
{

  display:flex;

}

a {
  color:black;
  font-size: 40px;
  font-family:fantasy;
}
